
# Nombre del proyecto Docker Compose
COMPOSE_PROJECT_NAME=nombre_projecto_docker

# PostgreSQL: usuario y contraseña de conexion, nombre de la base de datos
POSTGRES_USER=my_user_db_name
POSTGRES_PASSWORD=una_clave_larga_y_aleatoria
POSTGRES_DB=my_database_name

# PostgreSQL: puerto expuesto en el host
POSTGRES_PORT=5432  
